@font-face {
  font-family: 'BitBold';
  src: url('fonts/BitBold.ttf') format('truetype');
}

@mixin clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'BitBold', sans-serif;
  background: #666;
}

.container {
  max-width: 800px;
  margin: 5rem auto;
}

.dashboard {
  padding: 15px 20px 5px;
  background-color: gray;
  color: #fff;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
  background: #fff;
  padding: 1rem;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);

  canvas {
    border: 5px solid gray;
    margin: 0 auto;
  }
}
